.change-password {
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: space-around;
  background-color: #1e2c7d;

  .change-password-content {
    margin: auto;
    max-width: 400px;

    .change-password-logo {
      display: block;
      margin: auto;
      padding: 20px 0;
    }

    .change-password-content-card {
      background-color: #ffffff;
      border-radius: 5px;
      padding: 4em;

      .change-password-form {
        margin: auto;
        max-width: 300px;

        .change-password-actions {
          display: flex;
          justify-content: center;
          padding-top: 10px;
        }
      }
    }
  }
}