.forgot {
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: space-around;
  background-color: #1e2c7d;

  .forgot-content {
    margin: auto;
    max-width: 400px;
    
    .forgot-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 25px;
        padding-left: 10px;

        .forgot-header-items {
          display: flex;
          align-items: center;
          gap: 10px;
        }
    }

    .forgot-logo {
      display: block;
      margin: auto;
      padding: 20px 0;
    }

    .forgot-content-card {
      background-color: #ffffff;
      border-radius: 5px;
      padding: 25px 0;

      .forgot-form {
        margin: auto;
        max-width: 300px;

        .forgot-actions {
          display: flex;
          justify-content: center;
          padding-top: 10px;
        }
      }
    }
  }
}